.round-icon-button{
    z-index: 1;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
}

.round-icon-button:hover{
    background-color: var(--main-color);
    transform: scale(1.05);
}

.round-icon-button--clicked{
    background-color: var(--main-color);
}

.round-icon-button--clicked svg{
    fill: #ffffff;
}


.round-icon-button:hover svg{
    fill: #ffffff;
}