.icon-container{
    display: inline-block;
}

.icon-svg, .icon-png{
    height: 100%;
    width: 100%;
}

.icon-container--full{
    height: 100%;
    width: 100%;
}


.icon-container--search{
    position: absolute;
    left: 32px;
    height: 16px;
    width: 16px;
}

.icon-container--back{
    position: fixed;
    top: 160px;
    left: 64px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}