.product-detail{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 2fr 1fr;
}

.product-detail figure{
    position: relative;
    width: 100%;
    height: 100%;
}


.product-detail figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail figure .product-category{
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 1.6rem;
    padding: 4px 16px;
    background-color: #ffffff;
    border-radius: 32px;
}


.product-detail-info{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.product-detail-sub-info{
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
}

.product-detail-info .product-id,
.product-detail-info .product-stock{
    font-size: 1.4rem;
    font-weight: 600;
}


.product-detail-info .product-name{
    color: var(--main-color);
    font-size: 2.4rem;
}

.product-detail-info .product-price{
    font-size: 2.8rem;
}

.product-detail-info .product-description{
    font-size: 1.6rem;
}

