.line-divider-text-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line-divider-text{
    min-width: fit-content;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 16px;
}